body {
  background-color: lightblue;
  background: linear-gradient(to right, #33ccff 0%, #66ffff 60%);
  margin: 0px;
  background-size: 100% 100%;
}

p {
  margin-top: 70px;
  margin-left: 30%;
  margin-right: 30%;
  text-align: left;
}

nav {
  margin-left: 1%;
  margin-bottom: 60px;
}

header {
  background-color: royalblue;
  background: linear-gradient(to top, royalblue 0%, darkblue 100%);
  padding: 7px 7px;
  border-bottom: 3px solid black;
  margin-bottom: 6px;
}

h1 {
  margin-left: 3%;
  font-size: 39px;
  color: white;
}
h2 {
  text-align: center;
  font-size: 24px;
  color: black;
}

button {
  display: inline-block;
  padding: 8px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #009900;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px #999;
  margin-bottom: 20px;
}

button:hover {
  background-color: #3e8e41
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

footer {
  position: fixed;
  border-top: 3px solid black;
  background-color: royalblue;
  background: linear-gradient(to bottom, royalblue 0%, darkblue 100%);
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: left;
  padding: 8px 50px 8px;
  font-size: 12px;
  margin-top: 20px;
}

form {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 40%;
  padding: 0px;
  text-align: center;
}

img {
  top: 10px;
  right: 20px;
  position: absolute;
  width: 15%;
}

section {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
}

.hidden {
  background-color: transparent;
  border-radius: 0px;
  box-shadow: 0 4px transparent;
}
.hidden:hover {
  background-color: transparent;
}
.hidden:active {
  background-color: transparent;
  box-shadow: 0 3px transparent;
}
